@import "./_font.scss";
@import "./_config.scss";
@import "./skeleton.scss";
* {
  padding: 0;
  margin: 0;
}

hr {
  background-color: #000;
  text-align: center;
  margin: 0 auto;
  color: black;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 20px;
}

img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;

  &.colImg {
    width: 100%;
  }

  &.rowImg {
    height: 335px;
  }
}

h1 {
  padding-top: 25px;
  font-weight: bold;
}

h2 {
  // padding-top: 20px;
  // padding-bottom: 80px;
  // text-align: center;
  &.italics {
    font-weight: 500;
    font-style: italic;
  }
}

a {
  transition: all 0.3s ease-in-out;
}

.content-wrap {
  min-height: 100vh;
}

button {
  color: white;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  letter-spacing: 1px;
  min-width: 15rem;
  width: 250px;
  font-size: 1.5em;
  max-width: 90%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
    filter: brightness(1.3);
  }
  &.blue {
    background-color: #7ea5cb;
    box-shadow: 0 0 20px 2px #7ea5cb;
  }
  &.purple {
    background-color: #683190;
    box-shadow: 0 0 20px 2px #683190;
  }
  &.orange {
    background-color: #e2981b;
    box-shadow: 0 0 20px 2px #e2981b;
  }
}

.first-section {
  padding-top: 90px;
  height: calc(100vh - 90px);
}

.landing-page {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: url("../images/HomePage/landingbackground.png") center black;
  background-size: cover;
  z-index: 10;
  transition: all 0.5s ease-in-out;
  will-change: transform;
  
  &.revealed {
    transform: translateY(-100%);
  }
}

.App {
  min-height: 100vh;
}
.scroll-lock {
  overflow: hidden;
}
