@import "_config.scss"; /*--use this if we create config.scss where there can be variables for colour and mixins for transitions*/
@import "./skeleton.scss";
* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "brandon-grotesque";
  font-style: regular;
  src: url("../fonts/Brandon_reg.otf") format("opentype");
}

@font-face {
  font-family: "brandon-grotesque";
  font-weight: bold;
  src: url("../fonts/Brandon_bld.otf") format("opentype");
}

@font-face {
  font-family: "brandon-grotesque";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Brandon_bld_it.otf") format("opentype");
}

hr {
  background-color: #000;
  text-align: center;
  margin: 0 auto;
  color: black;
  width: 60%;
  margin-top: 50px;
}

img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;

  &.colImg {
    width: 100%;
  }

  &.rowImg {
    height: 335px;
  }
}

h1 {
  padding-top: 25px;
  font-weight: bold;
}

h2 {
  padding-top: 20px;
  padding-bottom: 80px;
  text-align: center;

  &.italics {
    font-weight: 500;
    font-style: italic;
  }
}

.content-wrap {
  min-height: 100vh;
}
