@import "_config.scss"; /*--use this if we create config.scss where there can be variables for colour and mixins for transitions*/
header{
	position: relative;
	display: block;
	width: 100%;
	background: black;
	color: white;
	height: 90px;
	font-size: 20px;
	/*--@font-face{
		font-family: brandon-grotesque;
	    font-style: regular;
	    src: url()*/

	.logo{
		position: absolute;
		top: 50%; 
		left: 15px;
	}

	nav,
	nav ul,
	nav ul li {
		margin: 0;
		padding: 0;
	}

	nav{
		position: absolute;
		top: 50%;
		right: 15px;

		ul li {
			list-style-type: none;
			display: inline-block;
			margin-right: 10px;

			&.last {
				margin:0;
			}

			a {
				font-size: 19px;
				line-height: normal;
				color: white;
			}
		}
	}

}

div { 
	margin: 0 auto;
	width: 100%;

	.case1TheaterWrapperDiv {
		margin: 0 auto;
		width: 100%;
		height: 50%;
		overflow: auto;
	}

	.case1TheaterLeftDiv {
		float: left;
		width:30%;
	}

	.case1TheaterRightDiv {
		float: right;
		width: 70%;
		padding-left: 25px;
	}

	.case1TheaterBottomWrapperDiv {
		margin: 0 auto;
		width: 100%;
		overflow: auto;
	}

	.case1TheaterBottomLeftDiv {
		float: left;
		width: 70%;
		max-width: 100%;
	    max-height: 100%;
	}

	.case1TheaterBottomRightDiv {
		float: right;
		width: 30%;
		max-width: 100%;
	    max-height: 100%;

	}

	.case2TheaterWrapperDiv {
		margin: 0 auto;
		width: 100%;
		height: 50%;
		overflow: auto;

	}

	.case2TheaterLeftDiv {
		float: left;
		width:30%;
	}

	.case2TheaterRightDiv {
		loat: right;
		width: 70%;
		padding-left: 25px;
	}

img {
	max-width: 100%;
	max-height: 100%;
}

h2 {
	padding: 20px;
	
}

	
}
	

