@import "_config.scss"; /*--use this if we create config.scss where there can be variables for colour and mixins for transitions*/
* {
	padding: 0;
	margin: 0;
}


	@font-face{
		font-family: "brandon-grotesque";
	    font-style: regular;
	    src: url('Brandon_reg.otf')	format('opentype');
	}

	@font-face{
		font-family: "brandon-grotesque";
	    font-weight: bold;
	    src: url('Brandon_bld.otf')	format('opentype');
	}

	@font-face{
		font-family: "brandon-grotesque";
		font-style: italic;
	    font-weight: 500;
	    src: url('Brandon_bld_it.otf')	format('opentype');
	}

	hr {
		background-color:#000;
		text-align: center; margin: 0 auto;
		color: black;
		width: 60%;
		margin-top: 50px;
	}



div {
	margin: 0 auto;
	width: 100%;

	.case1TheaterWrapperDiv {
		margin: 0 auto;
		width: 100%;
		height: 50%;
		overflow: auto;
		object-fit: cover;
	}

	.case1TheaterLeftDiv {
		float: left;
		width:33%;
	}

	.case1TheaterRightDiv {
		float: right;
		width: 67%;
		padding-left: 25px;
	}

	.case1TheaterBottomWrapperDiv {
		padding-top: 10px;
		display: flex;
		flex-direction: row;
		margin: 0 auto;
		width: 100%;
		overflow: auto;
		object-fit: cover;
	}

	.case1TheaterBottomLeftDiv {
		float: left;
		width: 70%;
		max-width: 100%;
	    max-height: 100%;
	}

	.case1TheaterBottomRightDiv {
		float: right;
		width: 30%;
		max-width: 100%;
	    max-height: 100%;

	}

	.case2TheaterWrapperDiv {
		margin: 0 auto;
		width: 100%;
		height: 50%;
		overflow: auto;

	}

	.case2TheaterLeftDiv {
		float: left;
		width:33%;
	}

	.case2TheaterRightDiv {
		float: right;
		width: 67%;
		padding-left: 25px;
	}

	.case2TheaterBottomWrapperDiv {
		padding-bottom: 40px;
		padding-top: 10px;
		margin: 0 auto;
		width: 100%;
		overflow: auto;
		margin-bottom: 25px;
	}

	.case2TheaterBottomLeftDiv {
		float: left;
		width: 33%;
		max-width: 100%;
	    max-height: 100%;

	}

	.case2TheaterBottomMidDiv {
		float: left;
		width: 33%;
		max-width: 100%;
	    max-height: 100%;
	}

	.case2TheaterBottomRightDiv {
		float: right;
		width: 34%;
		max-width: 100%;
	    max-height: 100%;
	}

	img {
		display: inline-block;
		max-width: 100%;
		max-height: 100%;

		&.colImg{
			width: 100%;

		}

		&.rowImg{
			height: 335px;
		}


	}

	h1{
		padding-top:25px;
		font-weight: bold;
	}

	h2 {
		padding-top: 20px;
		padding-bottom: 80px;
		text-align: center;

		&.italics {
			font-weight: 500;
			font-style: italic;
		}
	}

}

