@import "../../assets/scss/_functions.scss";
footer {
  background: black;
  color: transparentize(white, 0.6);
  padding: 25px;
  @include mobile-lg {
    padding: 2rem 0;
  }

  .footer-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .spread-between {
      flex: 1;
    }
  }
  .social-links {
    @include mobile-lg {
      text-align: center;
    }
    h6 {
      text-align: center;
      margin: auto;
    }
    img {
      max-width: 50px;
      margin: 0.5rem;
      display: block;
    }
  }
  ul {
    display: block;
    list-style-type: none;
    padding: 10px 20px 10px 0;
    margin: 0 3rem 1.5rem 0;
    li {
      margin-bottom: 0.2rem;
    }
  }

  a {
    color: inherit;
    &:hover {
      color: white;
    }
  }
  .copyright-line {
    font-size: 1.2rem;
    @include mobile-lg {
      margin-top: 2rem;
    }
  }
}
