@import "../../styles/_functions.scss";

.distribute-page {
  .header {
    padding: 5rem 0 0;
  }
  .case-wrap {
    padding: 3rem 0;
    h1,
    h2 {
      text-align: center;
      padding: 0;
    }
    h2 {
      margin: 0;
    }
    h1 {
      margin-bottom: 5rem;
    }
  }

  .colImg {
    margin: -4px 0;
  }

  .image-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    @include mobile-lg {
      flex-direction: column;
    }
    > img {
      flex: 1;
      height: 200px;
      object-fit: cover;
    }
  }
  .case1TheaterWrapperDiv {
    margin: 0 auto;
    width: 100%;
    height: 50%;
    overflow: auto;
    object-fit: cover;
    padding-left: 10px;

    @include mobile-lg {
      justify-content: space-around;
      align-items: center;
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .case1TheaterLeftDiv {
    float: left;
    width: 33%;

    @include mobile-lg {
      justify-content: space-around;
      align-items: center;
      display: flex;
      flex-direction: row;
    }
  }

  .case1TheaterRightDiv {
    float: right;
    width: 65%;
  }

  .case1TheaterBottomWrapperDiv {
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    overflow: auto;
    object-fit: cover;

    @include mobile-lg {
      display: none !important;
    }
  }

  .case1TheaterBottomLeftDiv {
    float: left;
    width: 70%;
    max-width: 100%;
    max-height: 100%;
  }

  .case1TheaterBottomRightDiv {
    float: right;
    width: 30%;
    max-width: 100%;
    max-height: 100%;
  }

  p {
    font-size: 20px;
  }

  h1 {
    padding-left: 10px;
  }
}
