@import "../../Assets/scss/_functions.scss";

.distribute-page {
  
  .case1TheaterWrapperDiv {
    margin: 0 auto;
    width: 100%;
    height: 50%;
    overflow: auto;
    object-fit: cover;
    padding-left: 10px;
    

    @include mobile-lg {
      justify-content: space-around;
      align-items: center;
      display: flex;
      flex-direction: column-reverse;
    }

   }

  .case1TheaterLeftDiv {
    float: left;
    width: 33%;
    
    @include mobile-lg {
      justify-content: space-around;
      align-items: center;
      display: flex;
      flex-direction: row;
    }
  }

  .case1TheaterRightDiv {
    float: right;
    width: 65%;
 
  }

  .case1TheaterBottomWrapperDiv {
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    overflow: auto;
    object-fit: cover;

     @include mobile-lg {
      display: none !important;
      }
    }
  

  .case1TheaterBottomLeftDiv {
    float: left;
    width: 70%;
    max-width: 100%;
    max-height: 100%;
  }

  .case1TheaterBottomRightDiv {
    float: right;
    width: 30%;
    max-width: 100%;
    max-height: 100%;
  }

  .case2TheaterWrapperDiv {
    padding-left: 10px;
    margin: 0 auto;
    width: 100%;
    height: 50%;
    overflow: auto;

     @include mobile-lg {
      justify-content: space-around;
      align-items: center;
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .case2TheaterLeftDiv {
    float: left;
    width: 33%;
  }

  .case2TheaterRightDiv {
    float: right;
    width: 65%;
    padding-left: 20px;
  }

  .case2TheaterBottomWrapperDiv {
    padding-bottom: 40px;
    padding-left: 10px;
    padding-top: 10px;
    margin: 0 auto;
    width: 100%;
    overflow: auto;
    margin-bottom: 25px;

    @include mobile-lg {
      justify-content: space-around;
      align-items: center;
      display: flex;
      flex-direction: row;
      
    }
  }

  .case2TheaterBottomLeftDiv {
    float: left;
    width: 33%;
    max-width: 100%;
    max-height: 100%;
  }

  .case2TheaterBottomMidDiv {
    float: left;
    width: 33%;
    max-width: 100%;
    max-height: 100%;
  }

  .case2TheaterBottomRightDiv {
    float: right;
    width: 34%;
    max-width: 100%;
    max-height: 100%;
  }

  p {
    font-size: 20px;
  }

  h1 {
  padding-left: 10px;
  }
}
