@import "../../Assets/scss/_functions.scss";

.policy-page {
	
	padding: 5%;
	font-size: 20px;

	@include mobile-lg {
	      display: flex;
	      flex-direction: column;
	      align-items: center;
	      text-align: center;
    	}
    
	
	ul, ol {
		list-style-position: inside;
	}

}
