@import "../../assets/scss/_functions.scss";
nav {
  position: relative;
  display: block;
  width: 100%;
  background: transparentize(black, 0.2);
  color: white;
  font-size: 20px;
  .tabs-wrap {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    max-width: 200px;
    height: auto;
    margin: 1rem 0;
    img {
      max-width: 100%;
    }
  }

  .nav-pills ul,
  .nav-pills ul li {
    margin: 0;
    padding: 0;
  }

  .nav-pills {
    width: 50vw;
    margin: 1rem 0;
    display: flex;
    justify-content: flex-end;
    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 1.2rem;
      &.last {
        margin: 0;
      }

      a {
        font-size: 19px;
        line-height: normal;
        color: white;
      }
    }
  }
  .sidebar-trigger {
    display: none;
    position: relative;
    width: 30px;
    height: 20px;
    margin: 0;
    z-index: 15;
    .bar {
      background: white;
      position: absolute;
      height: 2px;
      width: 100%;
      transition: all 0.3s ease-in-out;
      top: calc(50% - 1px);
      &:nth-child(2) {
        transform: scaleX(0.6);
      }
      &:first-child {
        transform: translateY(-10px);
      }
      &:last-child {
        transform: translateY(10px);
      }
    }
    &.opened {
      position: fixed;
      right: 3.5rem;
      top: 2.7rem;
      .bar {
        background: transparentize(black, 0.2);
        &:nth-child(2) {
          opacity: 0;
          width: 0;
        }
        &:last-child {
          transform: rotateZ(45deg);
        }
        &:first-child {
          transform: rotateZ(-45deg);
        }
      }
    }
  }
  .side-bar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 100%;
    width: calc(100% - 8rem);
    height: 100%;
    transition: all 0.3s ease-in-out;
    padding: 6rem 4rem;
    z-index: 10;
    ul {
      list-style: none;
    }
    &.opened {
      left: 0%;
    }
  }

  @include mobile-lg {
    .desktop {
      display: none;
    }
    .sidebar-trigger {
      display: block;
    }
  }
}
