@import "../../styles/_functions.scss";

nav {
  position: fixed;
  display: block;
  width: 100%;
  background: transparentize(black, 0.2);
  color: white;
  font-size: 20px;
  z-index: 12;
  .tabs-wrap {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .logo-wrap {
    width: 200px;
    height: 90px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%) translateX(0%);
    transition: all 0.5s ease-in-out;
    @include mobile-lg {
      max-width: 95vw;
    }
    .logo {
      height: 90px;
      min-height: 100%;
    }
    img {
      max-width: 100%;
      height: 100%;
      width: 100%;
      transition: all 0.5s ease-in-out;
      object-fit: contain;
    }
    span {
      color: white;
      float: right;
      margin-top: 0;
      letter-spacing: 1px;
      font-size: 1em;
      transform: scale(0);
      opacity: 0;
      transform-origin: top left;
      transition: all 0.5s ease-in-out;
    }
  }

  .nav-pills ul,
  .nav-pills ul li {
    margin: 0;
    padding: 0;
  }

  .nav-pills {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    ul li {
      list-style-type: none;
      display: inline-block;
      position: relative;
      a {
        font-size: 19px;
        line-height: normal;
        color: white;
        padding: 2rem 1rem;
        min-width: 4rem;
        text-align: center;
        display: block;
        &:after {
          content: "";
          display: block;
          position: absolute;
          bottom: 1.5rem;
          left: 5%;
          height: 1px;
          width: calc(90%);
          transform: scale(0);
          transform-origin: center;
          will-change: transform;
          opacity: 0;
          background-color: white;
          transition: all 0.3s ease-in-out;
        }
        &.active::after {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
  .sidebar-trigger-wrap {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 15;
    width: 30px;
    opacity: 1;
    height: 20px;
    display: none;
    @include mobile-lg {
      display: block;
    }
  }
  .sidebar-trigger {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    .bar {
      background: white;
      position: absolute;
      height: 2px;
      width: 100%;
      transition: all 0.3s ease-in-out;
      top: calc(50% - 1px);
      &:nth-child(2) {
        transform: scaleX(0.6);
      }
      &:first-child {
        transform: translateY(-10px);
      }
      &:last-child {
        transform: translateY(10px);
      }
    }
    &.opened {
      position: fixed;
      .bar {
        background: transparentize(black, 0.2);
        &:nth-child(2) {
          opacity: 0;
          width: 0;
        }
        &:last-child {
          transform: rotateZ(45deg);
        }
        &:first-child {
          transform: rotateZ(-45deg);
        }
      }
    }
  }
  .side-bar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 100%;
    width: calc(100% - 8rem);
    height: 100%;
    transition: all 0.3s ease-in-out;
    padding: 6rem 4rem;
    z-index: 10;
    ul {
      list-style: none;
    }
    &.opened {
      left: 0%;
    }
    a {
      color: black;
      font-weight: 400;
    }
  }

  @include mobile-lg {
    .desktop {
      display: none;
    }
    .sidebar-trigger {
      display: block;
    }
  }
  &.outside-nav {
    background: transparent;
    .sidebar-trigger-wrap {
      opacity: 0;
    }
    .logo-wrap {
      transform: translateY(-50%) translateX(-65%);
      top: 50vh;
      left: 50vw;
      width: 600px;
      height: 180px;
      transition: all 0.5s ease-in-out;
      .logo {
        height: 180px;
        transition: all 0.5s ease-in-out;
      }
      span {
        transform: scale(1);
        margin-top: -2.5em;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        @include mobile-lg {
          margin-top: -5.5em;
          font-size: 1.4rem;
        }
      }
      @include mobile-lg {
        top: 20vh;
        max-width: 85vw;
        transform: translateY(-50%) translateX(-59%);
      }
    }
  }
}
