@import "../../styles/_functions.scss";
form {
  margin: 0;
}

.create-page {
  background: #343434; /*look for colour*/
  text-align: center;
  color: white;

  .image-header {
    width: 500px;
    display: block;
    margin: 2rem auto;
    max-width: 80%;
    @include mobile-lg {
      max-width: 100%;
    }
  }

  .side-image {
    @include mobile-lg {
      max-width: 100px;
    }
  }

  .head-image-grid {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 70%;
    .card {
      text-align: center;
      img {
        width: 200px;
        height: 200px;
        @include mobile-lg {
          width: 100px;
          height: 100px;
        }
      }
      > * {
        display: block;
        margin: 0 auto;
      }
    }
  }

  p {
    font-size: 20px;
    text-align: left;
  }

  img {
    object-fit: contain;
  }

  textarea,
  input {
    background: #343434;
    font-size: 20px;
    font-family: brandon-grotesque;
    margin-bottom: 25px;
    padding: 10px;
    color: white;
    &.button {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 10px;
      width: 30%;
      background-size: 100%;
    }
  }
  button {
    margin: 50px 0 100px;
  }
}
