@import "../../styles/_functions.scss";

.contactUs-page {
	 padding: 5rem 0;
        color: white;
        background: transparentize(black, .4) url('../../images/HomePage/formbackground.png');
        background-size: cover;
        background-blend-mode: overlay;

        @include mobile-lg {
            background: transparentize(black, .4) url('../../images/HomePage/formbackground-mobile.png');
            background-size: cover;
            background-blend-mode: overlay;
        }
       
        h4, h1{
            text-align: center;
            font-weight: bold;
        }
        
        .address-grid{
            list-style: none;
            display: flex;
            justify-content: space-between;
            
            li {
                margin: 1rem;
                flex: 1;
               
                h5 {
                    text-align: center;
                }
            }
        }

        form{
            text-align: center;
            input, textarea {
                border: 2px solid white;
                padding: 1rem 1.5rem;
                font-size: 1.2em;
                width: 80%;
                margin: .5rem auto;
                background: transparent;
                &::-webkit-input-placeholder{
                    color: transparentize(white, 0.4) !important;
                    letter-spacing: 1px;
                    font-family: brandon-grotesque !important;
                }

                @include mobile-lg {
                    width: 90%;
                }
            }

            button {
                margin: 3rem auto 0;
            }
        }

        


}