@import "../../styles/_functions.scss"

.homepage
    .splash-screen
        color: white
        position: relative
        width: 100vw
        overflow: hidden
        display: flex
        align-items: center
        height: calc(100vh - 90px)
        @include mobile-lg
            height: 100vh
            padding-top: 0
            text-align: center
            background: url('../../images/HomePage/poster.png') center no-repeat
            p, h3
                text-align: left
        #video-wrap
            position: absolute
            height: 100%
            width: 100%
            object-fit: cover
            top: 0
            left: 0
            z-index: -1
            background: url('../../images/HomePage/LoadingImage.png') center no-repeat
            canvas
                width: 100vw !important
                height: 100vh !important
                background-size: cover
                object-fit: cover
        &:before
            content: ''
            display: block
            position: absolute
            top: 0
            left: 0
            height: 100%
            width: 100%
            background: transparentize( black , .6 )
            @include mobile-lg
                background: transparent
        p
            letter-spacing: 1px
        button
            margin: 2rem auto 0
        a
            color: white;
    .victoria-section
        height: 85vh
        background: url('../../images/HomePage/VictoriaBackround.png') center
        background-size: cover
        color: white
        padding: 4rem 0
        display: flex
        align-items: center
        justify-content: center
        height: 50vh
        min-height: 50vw
        @include mobile-lg
            background: url("../../images/HomePage/victoria-background-mobile.png") center black;
            background-size: cover;

        .timer-wrap
            width: 95%
        h2
            text-align: center
            letter-spacing: 7px
            margin-bottom: 4rem
            // margin-top: 130px
    .vr-theatre-section
        display: flex
        position: relative
        width: 100vw
        max-height: 570px
        background: black
        .background-img
            flex: 1
            width: 70vw
            object-fit: cover
            filter: brightness(.2)
            @include mobile-lg
                position: absolute
                height: 100%
                width: 100%
        .tablet-img
            position: absolute
            bottom: 0
            left: 0
            height: 45%
            width: calc(70vw + 100px)
            object-fit: contain
            max-width: fit-content
            object-position: bottom right
            @include mobile-lg
                display: none
        .details
            width: 30vw
            padding: 5rem 0
            color: white
            @include mobile-lg
                width: 100%
                background-color: transparent
                text-align: center
            button
                margin: 4rem auto
                display: block
            a
                color: white;
            img.retinad-logo
                max-width: 150px
                display: block
                margin-left: auto
                @include mobile-lg
                    display: none

    .our-supporters-section
        padding: 6rem 0
        background: black
        color: white
        text-align: center
        h2
            margin-bottom: 4rem
            font-weight: 400
            letter-spacing: 2px
        .img-wrap
            display: flex
            justify-content: space-between
            align-items: center
            max-width: 800px
            margin: 0 auto
            @include mobile-lg
                flex-direction: column
            img
                max-width: 200px
                padding: 6%


    .find-us-section
        padding: 5rem 0
        color: white
        background: transparentize(black, .3) url('../../images/HomePage/formbackground.png')
        background-size: cover
        background-blend-mode: overlay
        h4
            text-align: center

        @include mobile-lg
            background: transparentize(black, .3) url('../../images/HomePage/formbackground-mobile.png')
            background-size: cover
            background-blend-mode: overlay
        .address-grid
            list-style: none
            display: flex
            justify-content: space-between
            li
                margin: 1rem
                flex: 1
                h5
                    text-align: center
                    font-weight: bold
        form
            text-align: center
            input, textarea
                border: 2px solid white
                padding: 1rem 1.5rem
                font-size: 1.2em
                width: 80%
                margin: .5rem auto
                background: transparent
                @include mobile-lg
                    width: 90%
            button
                margin: 3rem auto 0


